<mat-table #foodTable [dataSource]="foodlist" class="mat-elevation-z8 food-table"
       cdkDropList [cdkDropListData]="foodlist" (cdkDropListDropped)="dropTable($event)">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> &nbsp; </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="unit">
    <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> &nbsp; </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="calories">
    <mat-header-cell *matHeaderCellDef> Calories </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.calories}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{getTotalCalories()}} </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="fat">
    <mat-header-cell *matHeaderCellDef> Fat </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fat}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{getTotalFat()}} </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="protein">
    <mat-header-cell *matHeaderCellDef> Protein </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.protein}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{getTotalProtein()}} </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="carbs">
    <mat-header-cell *matHeaderCellDef> Carbs </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.carbs}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{getTotalCarbs()}} </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="fiber">
    <mat-header-cell *matHeaderCellDef> Fiber </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fiber}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{getTotalFiber()}} </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="netCarb">
    <mat-header-cell *matHeaderCellDef> Net Carbs </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.netCarb}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{getTotalCarbs() - getTotalFiber()}} </mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnDefs"></mat-header-row>
  <mat-row class="food-row" *matRowDef="let row; columns: columnDefs;" cdkDrag [cdkDragData]="row"></mat-row>
  <div *ngIf="showTotals"><mat-footer-row *matFooterRowDef="columnDefs"></mat-footer-row></div>
</mat-table>
<br/>
<button mat-raised-button (click)="openDialog()">Add</button>
